<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebook.basebook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ebook.basebook.mvp.view.impl.BookDetailActivity"

            android:theme="@style/CAppTransparentTheme" />
        <activity
            android:name="com.ebook.basebook.mvp.view.impl.ReadBookActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ebook.basebook.mvp.view.impl.ImportBookActivity"

            android:theme="@style/CAppTransparentTheme" />
    </application>
</manifest>
