<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ebook.me">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ebook.me.NewsTypeAddActivity"
            android:label="新闻类型设置"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BackBar"/>
        <activity
            android:name="com.ebook.me.NewsTypeListActivity"
            android:label="新闻类型列表"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BackBar"/>
        <activity
            android:name="com.ebook.me.NewsDetailAddActivity"
            android:label="新闻添加"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BackBar" />
        <activity
            android:name="com.ebook.me.SettingActivity"
            android:label="设置"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BackBar" />
        <activity android:name=".CommentActivity"
            android:label="我的评论"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BackBar"/>
        <activity android:name=".EditInfromActivity"
            android:label="编辑资料"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BackBar"/>
    </application>
</manifest>