<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebook.me">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ebook.me.SettingActivity"
            android:label="设置"
            android:theme="@style/AppTheme.BackBar" />
        <activity
            android:name=".MyCommentActivity"
            android:label="我的评论"
            android:theme="@style/AppTheme.BackBar" />
        <activity
            android:name=".ModifyInformationActivity"
            android:label="编辑资料"
            android:theme="@style/AppTheme.BackBar" />
        <activity
            android:name=".ModifyNicknameActivity"
            android:label="修改昵称"
            android:theme="@style/AppTheme.BackBar" />
    </application>
</manifest>